<nb-layout>
  <nb-layout-header fixed>
    <div class="header-container col-md-1">
      <a (click)="_toggle()">
        <i class="nb-menu"></i>
      </a>
    </div>
    <div *ngIf="knownUser; else login" class="header-container offset-md-10">
      <nb-user size="large"
               name="Aandreww"
               title="developer"
               picture="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Creative-Tail-Animal-dog.svg/2000px-Creative-Tail-Animal-dog.svg.png"
               [nbContextMenu]="userItems">
      </nb-user>
    </div>
  </nb-layout-header>

  <nb-sidebar>
    <nb-card>
        <nb-menu [items]="menuItems"></nb-menu>
    </nb-card>
  </nb-sidebar>


  <nb-layout-column>
        <router-outlet></router-outlet>
  </nb-layout-column>

</nb-layout>

<ng-template #login>
  <div class="header-container offset-sm-10">
    <button routerLink="/auth/login"
            nbButton
            hero
            shape="semi-round"
            status="info">Login</button>
  </div>
</ng-template>
