<div class="login-form">
  <form [formGroup]="form" (ngSubmit)="_onSubmit()">

    <h1 id="title" class="title">Login</h1>
    <p class="sub-title">Hello! Log in with your email.</p>

    <div class="form-group">
      <label for="exampleInputEmail1">Email address:</label>
      <input formControlName="email"
             class="form-control"
             [ngClass]="form.get('email').valid ? 'is-valid' : 'is-invalid'"
             type="text"
             id="exampleInputEmail1"
             placeholder="Email"
             required>
      <ng-container *ngIf="form.get('email').invalid && form.get('email').touched">
        <p class="text-danger" *ngIf="form.get('email').errors['required']">
          Email is <strong>required!</strong>
        </p>

        <p class="text-danger" *ngIf="form.get('email').errors['pattern']">
          Please enter a valid email address.
        </p>
      </ng-container>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password:</label>
      <input formControlName="password"
             [ngClass]="form.get('password').valid ? 'is-valid' : 'is-invalid'"
             class="form-control"
             type="password"
             id="exampleInputPassword1"
             placeholder="Password"
             required>
      <ng-container *ngIf="form.get('password').invalid
        && form.get('password').touched">
        <p class="text-danger" *ngIf="form.get('password').errors['required']">
          Password is <strong>required!</strong>
        </p>

        <p class="text-danger" *ngIf="form.get('password').errors['pattern']">
          Letters, numbers, hyphens and underscores, from 6 to 18 characters.
        </p>
      </ng-container>
    </div>
    <div class="form-group">
      <nb-checkbox status="success" formControlName="rememberMe">Check me out</nb-checkbox>
    </div>
    <button type="submit" class="btn btn-outline-success" [disabled]="form.invalid || form.disabled">Submit</button>
  </form>

  <section class="login-form__another-action" aria-label="Register">
    Don't have an account? <a class="text-link" routerLink="/auth/registration">Registration</a>
  </section>
</div>
