<div class="register-form">
  <form [formGroup]="form" (ngSubmit)="_onSubmit()">

    <h1 id="title" class="title">Register</h1>

    <div class="form-group">
      <label for="login">Login:</label>
      <input formControlName="login"
             [ngClass]="form?.get('login').valid ? 'is-valid' : 'is-invalid'"
             class="form-control"
             type="text"
             id="login"
             placeholder="Login"
             required>
      <ng-container *ngIf="form?.get('login').invalid && form?.get('login').touched">
        <p class="text-danger" *ngIf="form?.get('login').errors['required']">
          Login is <strong>required!</strong>
        </p>

        <p class="text-danger" *ngIf="form?.get('login').errors['pattern']">
          Letters, numbers, hyphens and underscores, from 3 to 16 characters.
        </p>
      </ng-container>
    </div>

    <div class="form-group">
      <label for="email">Email address:</label>
      <input formControlName="email"
             class="form-control"
             [ngClass]="form?.get('email').valid ? 'is-valid' : 'is-invalid'"
             type="text"
             id="email"
             placeholder="Email"
             required>
      <ng-container *ngIf="form?.get('email').invalid && form?.get('email').touched">
        <p class="text-danger" *ngIf="form?.get('email').errors['required']">
          Email is <strong>required!</strong>
        </p>

        <p class="text-danger" *ngIf="form?.get('email').errors['pattern']">
          Please enter a valid email address.
        </p>
      </ng-container>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input formControlName="password"
             [ngClass]="form?.get('password')?.valid ? 'is-valid' : 'is-invalid'"
             class="form-control"
             type="password"
             id="password"
             placeholder="Password"
             required>
      <ng-container *ngIf="form?.get('password').invalid
        && form?.get('password').touched">
        <p class="text-danger" *ngIf="form?.get('password')?.errors['required']">
          Password is <strong>required!</strong>
        </p>

        <p class="text-danger" *ngIf="form?.get('password')?.errors['pattern']">
          Letters, numbers, hyphens and underscores, from 6 to 18 characters.
        </p>
      </ng-container>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm password:</label>
      <input formControlName="confirmPassword"
             [ngClass]="form?.get('confirmPassword')?.valid && !form?.hasError('notSame') ? 'is-valid' : 'is-invalid'"
             class="form-control"
             type="password"
             id="confirmPassword"
             placeholder="Confirm password"
             required>
      <ng-container>
        <p class="text-danger" *ngIf="form.hasError('notSame')">
          Passwords must match.
        </p>
      </ng-container>
    </div>
    <button type="submit" class="btn btn-outline-success" [disabled]="form.invalid || form.disabled">Submit</button>
  </form>

  <section class="register-form__another-action" aria-label="Register">
    Already have an account? <a class="text-link" routerLink="/auth/login">Login</a>
  </section>
</div>
