<nb-layout class="login">
  <nb-layout-column>
    <nb-card class="login-card">
      <nb-card-header class="login-card__header">
        <nav>
          <a style="color: #3dcc6d;" (click)="_location.back()">
            <i class="icon nb-arrow-thin-left"></i>
          </a>
        </nav>
      </nb-card-header>

      <nb-card-body style="display: flex;">
        <div class="login-card__body">
          <router-outlet></router-outlet>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
