@base-url: "../../../../assets/";

:host nb-card-header a {
    font-size: 2rem;
    text-decoration: none;
}

.icon {
    font-weight: 600;
}

.login {

    &-card {
        height: calc(100vh - 2 * 2.5rem);
        border-radius: 0.375rem;

        &__header {
            padding: 1.25rem;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: #ebeef2;
            border-top-left-radius: 0.375rem;
            border-top-right-radius: 0.375rem;
        }

        &__body {
            margin: auto;
            display: block;
            width: 50%;
        }
    }
}
